.no-scrollbar {
  overflow-y: scroll;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-tabs .ant-tabs-tab {
  color: gray;
}

.custom-tabs .ant-tabs-tab-active {
  color: white;
}

